/* detail modal */

/* Add darkened backdrop behind modal when opened */
#backdrop {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.critter-wrapper {
	/* center onscreen */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	/* layout */
	display: flex;
	width: 100%;
	max-width: 75%;
	max-height: 95%;
	z-index: 1000;

	/* style */
	border: double rgb(153, 153, 153);
	background-color: #faf1c9;
	border-radius: 5px;
}

/* Critter name label, image, and controls */
.critter-img-col {
	flex-direction: column;
	padding: 40px;
	justify-content: space-between;
	max-height: 100%;
	width: 100%;
	text-align: center;

	border-right: double rgb(153, 153, 153);
	/* TODO: Set border bottom on to double on small screen */
	border-bottom: 4px none rgb(153, 153, 153);
}

/* Tag over critter image  */
.critter-name {
	background: #f9f9f0;
	border-radius: 2px;
	padding: 5px;
	color: rgb(92, 85, 60);
	white-space: nowrap;
	display: inline;
	box-shadow: 0 8px 6px -6px black;
	align-self: center;
}

.critter-name span {
	background: #f9f9f0;
	font-size: 1rem;
	display: inline;
	border: 0.5px double rgb(92, 85, 60);
	padding: 3px;
}

/* loaded image */
#critter-pic {
	max-height: 100%;
	max-width: 100%;
	filter: drop-shadow(0px 5px 5px black);
	align-self: center;
}

/* Back, forward, and close  */

.img-controls {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

#back,
#forward,
#close {
	font-size: 2rem;
	opacity: 0.75;
	color: rgb(103, 81, 62);
	cursor: pointer;
}

#back:hover,
#forward:hover,
#close:hover {
	opacity: 1;
}

/* #close {
	margin: 0px 60px;
} */

/* Column with quote, location, price, etc */
.critter-details-col {
	padding: 40px;
	height: 100%;
	width: 100%;
}

.critter-details-col > div {
	margin-bottom: 20px;
}

#phrase {
	margin-bottom: 50px;
	font-weight: bold;
	font-style: italic;
	font-size: 1.5rem;
	line-height: 1;
}

.detail-wrapper {
	display: flex;
	flex-direction: row;
}

.detail-wrapper > div {
	flex: 1;
	margin: 20px 0px;
}

@media only screen and (max-width: 768px) {
	.critter-wrapper {
		flex-direction: column;
	}
}
