/* Wrap filter bar */

.filters-bar {
	display: flex;
	width: 100%;
	padding: 10px 30px;
	margin-bottom: 20px;
	/* add relative position to try and get horizontal line behind content */
	position: relative;
	/* background: url('../assets/filterTexture.png'); */
	justify-content: space-between;
}

.line {
	position: absolute;
	top: 50%;
	bottom: 50%;
	left: 0;
	right: 0;
	background-color: rgb(92, 85, 60);
	height: 1.5px;

	/* Extend line beyond parent by voiding margins */
	margin-left: -60px;
	margin-right: -60px;
	z-index: -1;
}

.filters-bar .species,
.filters-bar .search-form,
.filters-bar .languages {
	display: flex;
	height: 100%;
	padding: 2px;
	align-self: center;
	/* z-index: 4; */
}

/* Species toggles | buttons */
.btn-wrapper {
	display: flex;
	position: relative;
	align-self: center;
	height: 100%;
}

/* Style Species Filter Buttons */
.filters-bar button {
	margin: 0px -1px;
	height: 60px;
	width: 60px;
	background-color: white;
	color: rgb(92, 85, 60);
	padding: 5px;
	border-radius: 50%;
	border: none;
}

.filters-bar button:hover {
	transform: scale(1.15);
}

/* Icon inside button */
.filter-icon {
	cursor: pointer;
	width: 100%;
	filter: grayscale(100%);
}

.tooltip {
	position: absolute;
	background: rgb(254, 203, 77);
	border-radius: 4px;
	top: -30px;
	left: 0;
	right: 0;
	height: 25px;
	width: auto;
	text-align: center;
	color: rgb(92, 85, 60);
	box-shadow: 0 8px 6px -6px black;
}

/* Search Bar */
.filters-bar .search-form {
	margin-left: auto;
	flex: auto;
	background-color: #faf1c9;
	/* z-index: 5; */
}

/* Search Input */
.search-form input {
	background-color: #faf1c9;
	border: none;
	border-bottom: 3px solid grey;
	color: #555;
	font-size: 16px;
	padding: 0px;
}

.filters-bar .languages {
	margin-left: auto;
}

@media only screen and (max-width: 768px) {
	.line {
		margin-left: -40px;
		margin-right: -40px;
	}
}
