/* results table  */
.results-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border: 1px solid green;
	background-color: #faf1c9;
	justify-content: center;
}

.results-item {
	height: 100px;
	width: 100px;
	display: flex;
	justify-content: center;
	position: relative;
	border: 1px solid green;
	padding: 2px;
}

.results-item:hover {
	cursor: pointer;
}

.search-img {
	image-rendering: crisp-edges;
	align-self: center;
	height: 80%;
	width: 80%;
	border: 2px dashed transparent;
}

.search-img:hover {
	border: 2px dashed grey;
}

.name-tooltip {
	position: absolute;
	background: #f9f9f0;
	border-radius: 2px;
	padding: 5px;
	top: -30%;
	left: 0%;
	transform: translate(-50%, -50%);
	color: #282828;
	transform: rotate(-2deg);
	/* align-content: center; */
	white-space: nowrap;
	display: inline;
	box-shadow: 0 8px 6px -6px black;
}

.name-tooltip span {
	background: #f9f9f0;
	font-size: 1rem;
	display: inline;
	border: 0.5px double black;
	padding: 3px;
}

#no-results-img {
	height: 100px;
}
