/* results table  */
.results-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border: 1px solid green;
}

.results-item {
	margin: 0.5em;
	max-height: 100px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.name-tooltip {
	position: absolute;
	background: #f9f9f0;
	border-radius: 2px;
	padding: 5px;
	top: -30%;
	left: 0%;
	transform: translate(-50%, -50%);
	color: #282828;
	transform: rotate(-2deg);
	/* align-content: center; */
	white-space: nowrap;
	display: inline;
	box-shadow: 0 8px 6px -6px black;
}

.name-tooltip span {
	background: #f9f9f0;
	font-size: 1rem;
	display: inline;
	border: 0.5px solid black;
	padding: 3px;
}

.results-item :hover {
	/* background-color: cadetblue; */
	/* border: 2px dashed black; */
	/* https://kovart.github.io/dashed-border-generator/ */
	cursor: pointer;
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.search-img {
	image-rendering: crisp-edges;
	align-self: center;
	height: 75%;
	width: 75%;
}

#no-results-img {
	height: 100px;
}
