/* results table  */

.no-results {
	align-items: center;
	text-align: center;
	font-size: large;
}
.results-wrapper {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: -1px;
	margin-left: -1px;
}

.results-item {
	height: 100px;
	width: 100px;
	display: flex;
	justify-content: center;
	position: relative;
	outline: 1px rgb(92, 85, 60);
	outline-style: double;
	margin-top: 1px;
	margin-left: 1px;
}

.results-item:hover {
	cursor: pointer;
}

.search-img {
	image-rendering: crisp-edges;
	align-self: center;
	height: 80%;
	width: 80%;
	border: 2px dashed transparent;
}

.search-img:hover {
	border: 2px dashed rgb(92, 85, 60);
	transform: scale(1.1);
}

.name-tooltip {
	position: absolute;
	background: #f9f9f0;
	border-radius: 2px;
	padding: 5px;
	top: -20%;
	color: rgb(92, 85, 60);
	transform: rotate(-2deg);
	white-space: nowrap;
	display: inline;
	box-shadow: 0 8px 6px -6px black;
	/* Increase z-index, otherwise longer tooltip corner gets 'tucked' under outline of next results-item border */
	z-index: 1;
}

.name-tooltip span {
	background: #f9f9f0;
	font-size: 1rem;
	display: inline;
	border: 0.5px double rgb(92, 85, 60);
	padding: 3px;
}

#no-results-img {
	height: 50%;
}
