/* font */
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,500,700,800,900&display=swap');

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	border: 1px red solid;
}

body {
	background-color: #faf1c9;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	overflow-x: hidden;
	color: rgb(92, 85, 60);
	/* font-size: 1rem; */
}

.scroll-lock {
	height: 100vh;
	overflow-y: hidden;
	/* Avoid jumping due to width reflow */
	padding-right: 15px;
}

header {
	/* margin-top: 20px; */
	margin-bottom: 20px;
	padding: 10px 0px;
}

.master-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px;
}

h1,
h2 {
	letter-spacing: -0.5px;
	font-weight: 100;
	padding-bottom: 10px;
	border-radius: 5px;
	padding: 2px;
	color: rgb(40, 79, 0);
	background-color: rgb(218, 216, 136);
	display: inline-block;
	white-space: nowrap;
}

.app-intro {
	display: flex;
	flex-direction: column;
	text-align: left;
	/* padding: 60px; */
}

/* App Title */
.title-wrapper {
	position: relative;
}

.title-wrapper h1 {
	font-size: 1.25 rem;
	margin-bottom: 10px;
}

.other-wrapper h2 {
	font-size: 1.1rem;
	margin-top: 20px;
	margin-bottom: 5px;
}

/* App Intro & Instructions */

.other-wrapper {
	display: flex;
	flex-direction: row;
}

.other-wrapper > div {
	flex: 1 1;
	padding: 10px;
	margin: 10px 0px;
}

#acnh-logo {
	max-width: 10%;
	position: absolute;
	left: 320px;
	top: 10px;
	transform: rotate(20deg);
	/* TODO: Add swing interaction on hover */
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding: 60px; */
	flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
	.other-wrapper {
		flex-direction: column;
	}

	.master-container {
		padding: 40px;
	}

	#acnh-logo {
		display: none;
	}
}
