/* font */
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,500,700,800,900&display=swap');

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	/* border: 1px red solid; */
}

html,
body {
	height: 100%;
	background-color: #faf1c9;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	overflow-x: hidden;
	color: rgb(103, 81, 62);
	/* font-size: 1rem; */

	/* Avoid jumping due to width reflow - padding accounts for vert scrollbar */
	margin-left: calc(100vw - 100%);
}

#master-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5%;
	position: relative;
}

h1,
h2 {
	letter-spacing: -0.5px;
	font-weight: 100;
	border-radius: 5px;
	color: rgb(40, 79, 0);
	background-color: rgb(218, 216, 136);
	display: inline-block;
	white-space: nowrap;
}

p {
	font-size: 18px;
}

/* Intro Section */

header {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

.app-intro {
	display: flex;
	margin-top: 2em;
	/* position: relative; */
}

/* App Title */

.app-intro .title-wrapper {
	/* position: relative; */
	padding-bottom: 1em;
}

.title-wrapper * {
	font-size: 1.1rem;
	margin-bottom: 0.75em;
	padding: 0px 0.25em;
}

#app-title {
	font-size: 2rem;
	margin-bottom: 0;
}

.intro-copy {
	flex: 1;
	margin-right: 10%;
}

.intro-copy p {
	margin-bottom: 20px;
}

#acnh-logo {
	max-width: 12%;
	min-width: 10%;
	position: absolute;
	right: 40px;
	top: 20px;
	/* transform: rotate(20deg); */
	/* TODO: Add swing interaction on hover */
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

/* Class added to body when detailsview modal is open */
.scroll-lock {
	height: 100vh;
	overflow-y: hidden;
}

@media only screen and (max-width: 768px) {
	.master-container {
		padding: 40px;
	}

	#acnh-logo {
		display: none;
	}

	.app-intro {
		flex-direction: column;
	}

	.intro-copy {
		align-items: center;
	}
}
