
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px
}

.main-heading {
    margin-top: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.filter-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin: 50px
}

.species-filters {
    display: flex;
    
}

.species-filters > button {
    margin-right: 10px;
    border-radius: 50%;
    border: none;
}

.language-filters {
    display: flex;
    align-content: flex-end;
}

.language-filters > button {
    margin-right: 10px;
    border-radius: 50%;
    border: none;
}

/* results table  */
.results-wrapper, .loading{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border: 2px solid black;
}

.results-item {
   margin: 10px;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center; 
   
}

.results-item :hover {
   /* background-color: cadetblue; */
   /* border: 2px dashed black; */
   /* https://kovart.github.io/dashed-border-generator/ */
   background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.search-img {
    height: 100%;
    width: 100%;   
}




 /* TODO: box shadow for detailed img later */
 /* -webkit-box-shadow: 0px 10px 12px -9px rgba(0, 0, 0, 0.75);
 -moz-box-shadow: 0px 10px 12px -9px rgba(0, 0, 0, 0.75);
 box-shadow: 0px 10px 12px -9px rgba(0, 0, 0, 0.75); */